<app-navbar></app-navbar>
<app-home></app-home>
<router-outlet></router-outlet>
<div class="text-center text-dark">
    <p>Over 30 million downloads.</p>
</div>
<div class="container text-center col-4">
<a target="_blank" class="app-store-link" href="#"><span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvGiD34kmCL7Q-C4Doy3OO2uLe5WN2nCPSZtOP4ZCtE4XY0xSK" alt="Available on Appstore" height="75"></span></a>
<a target="_blank" class="app-store-link" href="#"><span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6KDZSmDUQy9AHdCDbW7S_y4x4kbYKqgJzqwNBN4lIMU17BWTf" alt="Available on Google Playstore" height="45"></span></a>
</div>