<div class="container jumbotron col-xs-12 mt-3 w-75">
  <div *ngIf="!registerMode" class="content">
    <h1 class="display-4">Find your match and go on a date</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p class="lead"><strong>40,000,000</strong> singles worldwide 
  and <strong>3 million</strong> messages sent daily.</p>
    <p class="lead">
      <a class="btn btn-info btn-lg mb-2" href="#" role="button" (click)="registerToggle()">Register</a>
      <a class="btn btn-outline-success btn-lg mb-2" href="#" role="button">Learn more</a>
    </p>
  </div>
  <div class="content" *ngIf="registerMode">
    <app-register [valuesFromHome]="values" (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>
</div>